.DatePicker {
  margin-bottom: 2.5rem;
}

.DatePicker-title {
  display: inline;
  margin-right: 1rem;
}

.datepicker-input-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 52px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #2c4099;
  border-radius: 4px;
  background-color: #2c4099;
  font: inherit;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}
