.DateSelect {
  margin-bottom: 1.5rem;
}

.DateSelect__title {
  display: inline;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.DateSelect-input-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 52px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #105bd8;
  border-radius: 4px;
  background-color: #105bd8;
  font: inherit;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}
